.formContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.createForm {
	padding: 2rem;
	width: 100%;
	max-width: 50rem;
}

.createFormHeading {
	text-align: center;
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 4.8rem;
}

.row {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.row label {
	font-size: 2rem;
	font-weight: 400;
}

.formInput {
	background-color: transparent;
	color: #f9feff;
	border: 1px solid #494848;
	outline: none;

	padding: 1.2rem 2.4rem;
	margin-bottom: 2.4rem;
}

.createFormImage,
.createFormDescription {
	white-space: nowrap;
	font-size: 2rem;
	font-weight: 400;
}

.btnWrapper {
	text-align: center;
}

/* BELOW 464px */
@media (max-width: 29em) {
	.createForm {
		max-width: 30rem;
	}

	.createFormHeading {
		font-size: 2rem;
	}

	.row label {
		font-size: 1.6rem;
	}
}
