.footer {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 3.2rem;
}

.footerText {
	font-size: 1.6rem;
}

/* BELOW 464px */
@media (max-width: 29em) {
	.footerText {
		font-size: 1.2rem;
	}
}
