.header {
	margin-bottom: 1.2rem;
}

.headerBox {
	display: grid;
	gap: 3.6rem;
	height: 70vh;
	grid-template-columns: 2fr 1fr;

	padding: 9.6rem 4.8rem;
}

.headerBox--left {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(65, 44, 30, 0.6)),
		url(/public/header-background.jpg);
	object-fit: cover;
	border-radius: 100px;

	box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.4);
}

.headerText--left {
	font-family: "LilitaOne", sans-serif;
	font-size: 8.8rem;
	color: white;
}

.headerBox--right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3.2rem;
}

.headerText--right {
	font-family: "LilitaOne", sans-serif;
	font-size: 6.4rem;
	color: black;

	/* !!!! QUESTION: HOW TO ALIGN IT IN THE CORRECT WAY WITHOUT CREATING ANOTHER DIV */
	margin-left: 7.8rem;
}

.postButton {
	cursor: pointer;
	padding: 1.4rem 2.4rem;
	border-radius: 2rem;
	border: none;
	background-color: burlywood;
	box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);

	font-size: 3.6rem;
}

.postButton:hover {
	background-color: antiquewhite;
}

.postButton:active {
	transform: translateY(2px);
	transition: all 0.2s;

	box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.3);
}
