.header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	border-bottom: 1px solid #494848;

	margin-top: 3rem;
	margin-bottom: 2.4rem;
	padding-bottom: 1.2rem;
}

.postsLink {
	position: relative;
	text-decoration: none;
	font-size: 1.6rem;
}

.header a:global(.active) {
	color: #fff;
}

.header a:global(.active)::after {
	content: "";
	position: absolute;
	bottom: -1.2rem; /* отступ вниз от текста */
	left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
}
