.navbar {
	display: grid;
	grid-template-columns: 15rem 1fr 15rem;
	align-items: center;
	border-bottom: 1px solid #494848;
	max-width: 100%;
}

@media (max-width: 29em) {
	.navbar {
		grid-template-columns: 10rem 1fr 10rem;
	}
}
