.detailLayout {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2.4rem;
}

.detailImage {
	max-width: 100%;
}

.detailBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2.4rem;
}

.boxBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.detailDescription {
	font-size: 2rem;
}

.detailDate {
	font-size: 1.4rem;
}
