.post {
	list-style: none;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 3.2rem;
}

.postImg {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease;
	z-index: 1;
}

.post:hover .postImg {
	transform: scale(1.1);
}
