.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textBox {
	margin-top: 5rem;
}

.text {
	font-size: 4.4rem;
}

.imgBox {
	position: relative;
	width: 100rem;
	height: 26rem;
	margin: 0 auto;
}

.imgWrapper {
	position: absolute;
	overflow: hidden;
}

.imgWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.imgBox .imgWrapper:nth-child(1) {
	width: 34rem;
	height: 34rem;
	top: 8rem;
	left: 7rem;
	filter: brightness(60%);
	z-index: 1;
}

.imgBox .imgWrapper:nth-child(3) {
	width: 34rem;
	height: 34rem;
	top: 8rem;
	right: 7rem;
	filter: brightness(60%);
	z-index: 1;
}

.imgBox .imgWrapper:nth-child(2) {
	width: 40rem;
	height: 40rem;
	left: 50%;
	top: 6rem;
	transform: translateX(-50%);
	z-index: 2;
}

.btnBox {
	margin-top: 25rem;
}

/* BELOW 1024px */
@media (max-width: 64em) {
	.text {
		font-size: 3.4rem;
	}

	.imgBox {
		width: 70rem;
	}

	.imgBox .imgWrapper:nth-child(1) {
		width: 24rem;
		height: 24rem;
		left: 4rem;
	}

	.imgBox .imgWrapper:nth-child(3) {
		width: 24rem;
		height: 24rem;
		right: 4rem;
	}

	.imgBox .imgWrapper:nth-child(2) {
		width: 30rem;
		height: 30rem;
	}

	.btnBox {
		margin-top: 15rem;
	}
}

/* BELOW 720px */
@media (max-width: 45em) {
	.text {
		font-size: 2.8rem;
	}

	.imgBox {
		width: 60rem;
	}

	.imgBox .imgWrapper:nth-child(1) {
		width: 18rem;
		height: 18rem;
		left: 6rem;
	}

	.imgBox .imgWrapper:nth-child(3) {
		width: 18rem;
		height: 18rem;
		right: 6rem;
	}

	.imgBox .imgWrapper:nth-child(2) {
		width: 24rem;
		height: 24rem;
	}

	.btnBox {
		margin-top: 8rem;
	}
}

/* BELOW 608px */
@media (max-width: 38em) {
	.container {
		margin-top: 6rem;
	}

	.text {
		font-size: 2rem;
	}

	.imgBox {
		width: 45rem;
	}

	.imgBox .imgWrapper:nth-child(1) {
		width: 14rem;
		height: 14rem;
		left: 4rem;
	}

	.imgBox .imgWrapper:nth-child(3) {
		width: 14rem;
		height: 14rem;
		right: 4rem;
	}

	.imgBox .imgWrapper:nth-child(2) {
		width: 18rem;
		height: 18rem;
	}

	.btnBox {
		margin-top: 4rem;
	}
}

/* BELOW 464px */
@media (max-width: 29em) {
	.text {
		font-size: 1.6rem;
	}

	.imgBox {
		width: 30rem;
	}

	.imgBox .imgWrapper:nth-child(1) {
		width: 10rem;
		height: 10rem;
		left: 2rem;
		top: 7rem;
	}

	.imgBox .imgWrapper:nth-child(3) {
		width: 10rem;
		height: 10rem;
		right: 2rem;
		top: 7rem;
	}

	.imgBox .imgWrapper:nth-child(2) {
		width: 12rem;
		height: 12rem;
	}

	.btnBox {
		margin-top: -2rem;
	}
}
