.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchInput {
	width: 50%;
	padding: 1.2rem 2.4rem;

	font-size: 1.6rem;
	color: #f9feff;

	background-color: transparent;
	border: none;
	outline: none;
}

.searchInput::placeholder {
	color: #494848;
}

:global(.noPostsWrapper) {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
}

:global(.noPosts) {
	position: relative;
	font-size: 4rem;
	font-weight: 400;

	margin-bottom: 3rem;
}

:global(.noPostsShow) {
	position: relative;
	font-size: 2.8rem;
	font-weight: 300;
}
