.spinnerContainer {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	width: 6rem;
	height: 6rem;
	border: 0.5rem solid #494848;
	border-top-color: #fff;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
