.userDropList {
	position: absolute;
	top: 5.5rem;
	right: 2.5rem;
	list-style: none;
	padding: 1rem 2rem;
}

.userDropList div {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.dropOption:hover {
	cursor: pointer;
	text-decoration: underline;
}

div li {
	font-size: 1.4rem;
}

@media (max-width: 29em) {
	div li {
		font-size: 1.2rem;
	}

	.userDropList div {
		margin-bottom: 1.5rem;
	}

	.userDropList {
		top: 5.5rem;
		right: 0.5rem;
	}
}
